.image{
  /* float: left; */
  /* margin-left: 20px; */
}

.textBox{
  width: 180px;
  height: 180px;
  background-color: blue;

}
.btn{
  margin: 10px;
}


.buttonArea{
  text-align: center;
}

.addComment{
  text-align: center;
  margin-top: 10px;
}

.addButton{
  text-align: center;
}
